.fa-solid.fa-trash-can.fa-xl{
  padding-left:50%;
}
.fa-solid.fa-trash-can.fa-xl:hover{
cursor: pointer;
color: red;
}
body{
  background-color: gray;
}
.todobox{
  margin-top: 10px;
  padding:10px;
  background-color: #f4f8fa;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}
.todocontent{
  padding:5px;
  margin-left: 100px;
  margin-right: 100px;
}
.formcontainer {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

/* Style for the input fields and labels */
.formcontainer input[type="text"],
.formcontainer input[type="textarea"],
.formcontainer input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.formcontainer div {
  margin-bottom: 15px;
}

.formcontainer label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* Style for the submit button */
.formcontainer button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.formcontainer button:hover {
  background-color: #45a049;
}
h5{
  text-transform: uppercase;
  font-weight: bold;
  color:black;
  font-family: 'Courier New', Courier, monospace;
}
.desc{
  text-transform:capitalize;
  color:lightslategray;
}
small{
  color:#45a049;
  font-weight:600
}
.completed {
  text-decoration: line-through;
  color: red;
}
.fa-solid.fa-square-check.fa-xl:hover{
color:green;
cursor: pointer;
}
.fa-solid.fa-rectangle-xmark.fa-xl:hover{
color:red;
cursor: pointer;
}
.fa-solid.fa-square-check.fa-xl
{
padding-left: 15px;
}
.fa-solid.fa-rectangle-xmark.fa-xl{
padding-left: 15px;
}
.fa-solid.fa-pen-to-square.fa-xl{
padding-left: 15px;
}
.fa-solid.fa-pen-to-square.fa-xl:hover{
cursor: pointer;
color:orange;
}
.list-container {
  max-height: 300px; 
  overflow: scroll; 
}
.buttons{
  padding-left: 20px;
}